<div style="width:600px;">
	<div class="row" style="width:560px;margin-left: 20px;">
	<h3 style='margin-top:20px;'><%= title %></h3>
	<%
	var enctype="";
	inputs.forEach(function(input){
		if(input.type=='file') enctype = "enctype='multipart/form-data'";
	})
	var formId = typeof formid !== 'undefined' ? formid : ("form_"+Math.random()*1000);
	var outputdivid = formId+"_output";
	var ajaxenabled = typeof ajax !== 'undefined' && ajax?'ajaxform':'';
	%>
	<form <%- enctype %> class="form-horizontal <%= ajaxenabled %>" action="<%= action  %>" method="POST" id="<%= formId %>" >
			<%
			inputs.forEach(function(field){
				if(field.type=="header"){
					%>
					<h4 style='margin-top:20px;color:blue;'><%- field.label %></h4>
					<%
					return;
				}
				var value = field.value?field.value:"";
				var checked = field.type == 'checkbox' && value == true?"checked":"";
				var readonly = field.readonly?"readonly":"";
				var required = field.required?"required=true":"";
				var suggest = field.suggesturl?"suggesturl="+field.suggesturl:"";
				var lang = field.lang?"lang="+field.lang:"";
			%>
				<div class="form-group" style="margin-top: 30px;">
					<label class="col-lg-4 col-md-4 col-sm-4  control-label" style="text-align:left;" for="<%= field.id %>"><%- field.label %></label>
					<div class="col-lg-5 col-md-5 col-sm-5 ">
						<% if(field.readonly){ %>
							<span style='padding:5px;display:inline-block;'><%- value %></span>
						<% } else if(field.type=="select"){ %>
							<select class="form-control" name="<%= field.id %>" id="<%= field.id %>" value="<%= value %>" <%= readonly %>  <%= suggest %> >
								<%
									field.options.forEach(function(opt){
										var sel = opt.selected?"selected='selected'":""; %>
										<option value='<%= opt.value %>' <%= sel %> > <%= opt.label %> </option>
										<%
									});
								%>
							</select>
						<% }else if(field.type=="date"){ %>
							<input type='text' name='<%= field.id %>' id='<%= field.id %>' placeholder='<%- field.label %>' value='<%= value %>' class='date form-control'  <%= readonly %> />
						<% }else if(field.type=="checkbox"){ %>
							<input type='checkbox' class="form-control" name='<%= field.id %>' id='<%= field.id %>' <%= checked %>  <%= readonly %> <%= required %> />
						<% } else{ %>
						<input type='<%= field.type %>' class="form-control" name='<%= field.id %>' id='<%= field.id %>' placeholder='<%= field.label %>' value='<%= value %>' <%= checked %> <%= suggest %> <%= readonly %> <%= required %> <%= lang %> />
						<% } %>
					</div>
				</div>
			<%
			});
			if(ajaxenabled){ %>
				<div id="<%= outputdivid %>" class='form-group' style="margin-top: 30px;">

				</div>
			<% }
			if(typeof submittext !== 'undefined' && submittext){ %>
				<div class="control-group" style="margin-top: 30px;">
					<div class="controls">
						<button type="submit" class="btn btn-primary"><%= submittext %></button>
					</div>
				</div>
			<% }  %>
			
	</form>
	<% 
		if(typeof jsinit !== 'undefined' && jsinit){
	%>
		<script type="text/javascript">
			$(document).ready(<%= jsinit %>);
		</script>
	<%
		}
	%>
	</div>
</div>