<div class="col-lg-8 col-md-8 col-sm-8 pull-left">
	<form id="<%= formid %>" class="form-inline ajaxform" role="search" action="<%= action %>" method="post">
		<div class="form-group">
			<input id="search" type="text" class="form-control" placeholder="search" name="term" lang="hi" suggesturl="/suggest/e2h" autocomplete="off" style="width: 300px;"/>
		</div>
		<div class="form-group">
			<select name="status" value="<%= statusSelected %>" class="form-control">
				<%
				status.forEach(function(s){
					var sel = s.selected?"selected='selected'":""; %>
					<option value='<%= s.value %>' <%= sel %> > <%= s.label %> </option>
				<% });	%>
			</select>
		</div>
		<div class="form-group">
			<select name="type" class="form-control">
				<%
					types.forEach(function(t){
						var sel = t.selected?"selected='selected'":""; %>
						<option value='<%= t.value %>' <%= sel %> > <%= t.label %> </option>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<select name="location" class="form-control">
				<%
				locations.forEach(function(l){
					var sel = l.selected?"selected='selected'":""; %>
					<option value='<%= l.value %>' <%= sel %> > <%= l.label %> </option>
				<% }); %>
			</select>
		</div>
		<button type="submit" class="btn btn-default">List</button>
	</form>
	<div id="suggest" style="position: absolute; top: 100%;"></div>
</div>
<div id="<%- formid+"_output" %>" class="col-lg-9 col-md-9 col-sm-9" style="margin-top: 20px;">

</div>
<script type="text/javascript">
	$(document).ready(function(){
		ajaxformProc($('form#<%= formid%>'),$("div#<%= formid %>_output"),true);
	});
</script>