<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%
		if(typeof css !== "undefined" && css.length){
			css.forEach(function(v){
			%>
				<link rel="stylesheet" type="text/css" href="/stylesheets/<%= v %>" />
			<%
			});
		}
	%>
	<%
		if(typeof js !== "undefined" && js.length){
			js.forEach(function(v){
			%>
				<script type="text/javascript" src="/javascripts/<%= v %>"></script>
			<%
			});
		}
	%>
  </head>
  <body>
		<div id="header" class="navbar navbar-default" role="navigation"  style="min-height : 30px; position: fixed; top: 0px; width: 100%; z-index: 100;">
			<%- topMenu %>
			<%- searchbar %>
			<div class="pull-right">
				<%- topOptions %>
			</div>
		</div>
		<div class="row" style="margin-top: 70px; width: 100%;">
            <%- sidebar %>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<%- content %>
			</div>
		</div>
  </body>
</html>