<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
	<%
		if(typeof css !== "undefined" && css.length){
			css.forEach(function(v){
			%>
				<link rel="stylesheet" type="text/css" href="/stylesheets/<%= v %>" />
			<%
			});
		}
	%>
	<%
		if(typeof js !== "undefined" && js.length){
			js.forEach(function(v){
			%>
				<script type="text/javascript" src="/javascripts/<%= v %>"></script>
			<%
			});
		}
	%>
  </head>
  <body>
		<div id="header" class="navbar navbar-default" role="navigation"  style="min-height: 0px; position: fixed; top: 0px; width: 99%; margin-left: 0px; z-index: 100;">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<%- topMenu %>
			</div>
			<div class="pull-right">
				<%- topOptions %>
			</div>
		</div>
		<div class="row">
            <%- sidebar %>
            <%- content %>
		</div>
  </body>
</html>