<!--
	tabs = [
		{id: , label: , content: },
		{id: , label: , content: },..
	]
-->
<div class="col-lg-6 col-md-6 col-sm-6">
    <ul class="nav nav-tabs">
        <%
        tabs.forEach(function(t,i){
        %>
        <li <%- i==0?"class='active'":"" %> ><a href="#<%= t.id %>" data-toggle="tab"><%= t.label %></a></li>
        <% })
        %>
    </ul>
    <div  class="tab-content">
        <%
        tabs.forEach(function(t,i){ %>
        <div class="tab-pane <%- i==0?"active":"" %>" id="<%= t.id %>" ><%- t.content %></div>
        <% })
        %>
    </div>
</div>