<% if(options instanceof Array && options.length) { %>
<div id="sidebar" class="col-lg-2 col-md-2 col-sm-2" style="margin-top: 20px;" >
	<div class="affix list-group">
		<ul class="nav nav-stacked">
	<%
		for(var i=0;i<options.length;i++) { 
				if(options[i].options && options[i].options instanceof Array && options[i].options.length){ %>	
				<li>
					<a href="<%= options[i].link %>">
						<%= options[i].label %>
					</a>
					<ul  class="nav" style="margin-left: 30px;">
					<% 
					for(var j=0;j<options[i].options.length;j++) { 
						suboptions = options[i].options[j];
					%>
						<li><a href="<%= suboptions.link %>" style='padding: 7px 15px;'><%= suboptions.label %></a></li>
					<% } %>
					</ul>
				</li>
			<% } else { %>
				<li>
					<a href="<%= options[i].link %>"><%= options[i].label %></a>
				</li>
			<% }
		} %>			
		</ul>
	</div>
</div>
<% } %>